.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
}

nav{
    display: flex;
}

a{
    color: var(--color-black);
    padding-left: 2rem;
    font-size: 16px;
    font-weight: 500;
}

.headerWrapper nav a:hover{
    color: var(--color-green);
    transition: 0.3s ease-in-out;
}

.headerBtn{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.loginBtn{
    color: var(--color-green);
    font-weight: 500;
    height: 40px;
    width: 96px;
    border-radius: 6px;
    border: none;
}

.registroBtn{
    background: var(--color-green);
    color: var(--color-white);
    font-weight: 500;
    height: 40px;
    width: 96px;
    border-radius: 6px;
    border: none;
}