.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1rem;
}

nav{
    display: flex;
    padding-top: 15px;
}

a{
    color: var(--color-black);
    padding-left: 2rem;
    font-size: 16px;
}

.headerBtn{
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding-left: 2rem;
}